@charset "UTF-8";
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 15px;
}

*{
	margin:0;
	padding: 0;
}
.form-horizontal > div{
	margin-top:10px;
	display: block;
}
		
.form-horizontal .form-box{
	display:inline-block;
	width:80%;
}
.btn-main{
	width:150px;
	position:relative;
}
/* .btns-distance{
	position:absolut;
	top:0;
	left:200px;
} */
.btn-left{
	position:absolute; 
	top:170px;
	right:200px;
	width:150px;
}
.file-main{
	width:350px;
	position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
    float:left;
}
.file-text{
	display:inline-block;
	width:73%;
}
.file-only{
	width:100px;
}
.span-left{
	position:relative;
	left:40px;
}